/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 1px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    margin-top: 9%;
   }
   #header{
    min-height: 150px;
    background-color: green;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    margin-left: 236px;
    margin-top: -30%;
   

}
.subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 7px;

   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
   }